@model BookViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1 class="py-3 text-white" style="background-color: #3a393f ">KİTAPLAR</h1>
<div class="mx-5">
    <a href="/AdminBook/AddBook" class="btn btn-outline-success my-4 float-end">Yeni Kitap Ekle</a>

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ADI</th>
                <th>YAZAR</th>
                <th>TÜRÜ</th>
                <th>SAYFA SAYISI</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td>@book.BookName</td>
                    <td>@book.Author.AuthorFirstName @book.Author.AuthorLastName</td>
                    <td>@book.Type.TypeName</td>
                    <td>@book.NumberOfPage</td>
                    <td><a href="/AdminBook/UpdateBook/@book.BookID" class="btn btn-outline-warning btn-sm">Düzenle</a></td>
                    <td><a href="/AdminBook/DeleteBook/@book.BookID" class="btn btn-outline-danger btn-sm">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>